.size300px1{display: none;
width: 100vw;}
body {
    margin: 0;
    background-color: #f9f5ff;
    color: #4a2040;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #4a2040;
    font-weight: bold;
}

.main {
    text-align: center;
    padding: 50px 20px;
}

.main h1 {
    font-size: 48px;
    margin: 0;
}

.main img {
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* repeat(auto-fit, minmax(250px, 1fr) */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    text-align: center;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.about {
    text-align: center;
    padding: 50px 20px;
    
}

.footer {display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
}
button{color: #4a2040;
background-color: #f9f5ff;
border:1px solid rgba(34, 27, 32, 0.16);
border-radius: 5px;}
.artist{font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10%;}
/* doubts */
/* .gap{width: 50%;} */

.portfolio {
    display: flex;
    
}
.gap{width: 100vw}
.portfolio_main{justify-content: end;}
/* responsive changes 1 */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 5px 0;
    }
}
@media (max-width: 300px){
    .size300px{display: none;
    background-color: black;}
    .size300px1{display: block;}
    

}
